.noticeheader{
    height:1.2rem;background: #fff;border-bottom:0.013333rem solid #ccc;text-align:center;line-height:1.2rem;position:relative;
    h1{font-size:0.533333rem;font-weight:normal;}
    .icon-shangyiye1{position:absolute;left:0.133333rem;top:0;}
}