html,body{width: 100%;height: 100%;}
.am-toast-text,.am-toast-text-icon{width: 3.466667rem;font-size: 0.373333rem;}
.login{height: 17.786667rem;background-color: #FFF;
    *{box-sizing:border-box;}
    .login1,.login2{height: 100%;}
    .main{padding: 6.373333rem 0.373333rem 0;position:absolute;width: 10.0rem;
        .ipt{display: block;
            i{margin-right: 0.266667rem}
            input{
                border:none;border-bottom:0.013333rem solid #ccc;padding-bottom: 0.26rem;margin-top: 0.653rem;font-size: 0.426667rem;width: 8.333333rem;color:#b1b1b1;}

        }
        .yym_btn{display: inline-block;width: 2.373333rem;height: 0.826667rem;border:0.013333rem solid #FF5D99;border-radius:0.32rem; position: absolute;top: 8.106667rem;right:0.4rem;text-align: center;line-height: 0.826667rem;font-size: 0.373333rem;color:#FF5D99;}
        >input{
            width: 7.68rem;height: 1.226667rem;background-color: #FF5D99;color:#fff;border:0 none;border-radius:0.48rem;margin-top: 0.826667rem;margin-left: 0.8rem;
        }
        .bottom{position: relative;margin-top: 2.0rem;border-top:0.013333rem solid #ccb;
            >span{position: absolute;top: -0.266667rem;left: 2.933333rem;padding: 0.0rem 0.4rem;background-color: #FFF;font-size: 0.373333rem;color:#949494;}
            ul{padding-top: 1.04rem;
                li{text-align: center;
                    width: 3.0rem;padding-left: 0.933333rem;display: inline-block;
                    i{font-size: 1.28rem;}
                    span{
                        font-size: 0.346667rem;color:#b1b1b1;
                    }
                }
                li:nth-child(1){
                    i{color:#63738D;}
                }
                li:nth-child(2){
                    i{color:#4BB6EE;}
                }
                li:nth-child(3){
                    i{color:#FE6E87;}
                }
            }
        }

    }
    .login2{
        >span{
            position: absolute;top: 0.2rem;left: 0.2rem;width: 0.866667rem;height: 0.866667rem;
        }
        .main{
            padding-top:0.0rem;overflow: hidden;border-top:0.013333rem solid #ccb;margin-top: 0.373333rem;
            a{
                float: right;font-size: 0.373333rem;margin-top: 0.46rem;cursor: pointer;
            }

        }
    }
    
}