.logo {
  height: 40px;
  margin: 16px;
  text-align: center;
  img {
  	display: inline-block;
  	width:38px;
  	height: 38px;
  }
}
.ant-layout-header {
  padding-right: 30px !important;
}
.ant-layout-header i.trigger {
	margin-left: 10px;
}
.sg a{
	color: #fff;
}