
.car{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    height: 100%;
    position:relative;
    .minheight{
    
    }
    .head{
        .complete{
            display:none;
        }
        width:100%;
        position:fixed;
        .am-navbar {
            height:1.066667rem;
            .am-navbar-title,.am-navbar-right{
                font-size: 24px;
                line-height:1.066667rem;
            }
        }
    }
    .foot{
        border-top:1px solid #ccc;
        border-bottom:1px solid #ccc;
        .am-navbar{
            height:1.066667rem;
            .am-navbar-left{
                font-size: 24px;
                line-height:1.066667rem;
                .am-checkbox{
                    margin-top: 0.346667rem;
                }
                .am-checkbox-wrapper{
                    font-size: 24px;
                    line-height:1.066667rem;
                }
            }
            .am-navbar-right{
                margin-right: 0;
                .total,.closing{
                    font-size: 24px;
                }
            }
            .total{
                color:red;
                padding-right:0.266667rem;
            }
            .closing{
                width:1.6rem;
                color:#fff;
                line-height:1.066667rem;
                text-align:center;
                background:red;
            }
        }
    }
    .carlist{
        flex: 1;
        overflow-x: hidden;
        padding-top:1.066667rem;
        margin-bottom:0.666667rem;
        .carhead{
            height:0.666667rem;
            overflow:hidden;
            background:#fff;
            margin-top:10px;
            line-height:0.666667rem;
            i{
                float:left;
                padding-left:0.266667rem;
                font-size:32px;
            }
            .shop{
                float:left;
                width:2.666667rem;
                padding-left:0.266667rem;
                border-top:1px solid #e6e6e6;
            }
        }
        li{
            border-top:1px solid #e6e6e6;
            border-bottom:1px solid #e6e6e6;
            background:#fff;
            overflow:hidden;
            .toplist{
                height:2.4rem;
            }
        }
        .lastextens{
            height:0.4rem;
            line-height:0.4rem;
            border-top:1px solid #e6e6e6;
            overflow:hidden;
            padding-right:0.266667rem;
            .extens{
                float:right;
                height:0.4rem;
                .exten ::before {
                    content:"¥";
                }
            }
        }
        .am-checkbox-agree {
            width:0.666667rem;
            height:0.666667rem;
            display:block;
            float:left;
            margin-top:0.866667rem;
        }
        img{
            width:2.4rem;
            height:2.4rem;
            float:left;
        }
        .content{
            overflow:hidden;
            .goodsName{       
                padding-top:0.266667rem;
                float:right;
                width:6.4rem;
            }
        }
        .carcount{
            display:none;
            overflow:hidden;
            .goodsName{
                padding-left:0.666667rem;
                float:left;
                padding-top:0.4rem;
                width:4.0rem;
            }
        }
        .input{
            padding-left:0.666667rem;
            float:left;
            padding-top:0.4rem;
            .reduct,.add{
                float:left;
                text-align:center;
                line-height:0.666667rem;
                width:0.666667rem;
                height:0.666667rem;
                background:#e6e6e6;
            }
            input{
                margin:0 2px;
                float:left;
                text-align:center;
                line-height:0.666667rem;
                width:2.0rem;
                height:0.666667rem;
                border:0;
                background:#e6e6e6;
            }
        }
        .introduce{
            padding-top:0.266667rem;
            padding-left:0.266667rem;
            float:left;
            width:5.6rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .compute{
            padding-top:0.266667rem;
            padding-left:0.266667rem;
            overflow:hidden;
            width:6.4rem;
            .price{
                float:left;
            }
            .counts{
                float:right;
                padding-right:0.266667rem;
                .count{
                    float:right;
                }
            }
        }
    }
}