.back{padding-left: 0.2rem;height: 0.866667rem;padding-top: 0.2rem;
    i{display: inline-block;width: 0.866667rem;height: 0.866667rem;}
    p{display: inline-block;width: 75%;text-align: center;font-size: 0.5rem;}
}