/*重置样式表*/
/*==========样式重置===========*/
html,body{height:100%;}
#app{height:100%;}
body,h1,h2,h3,h4,p,a,input,img,ul,li,ol,dl,dt,dd{
	padding:0;
	margin:0;}
ul,ol,li{
	list-style:none;}
img{
	display:block;
	border:0;}
input{
	outline:none;}
header,footer,section,main,nav{
	display:block;}
body{
    // font-size:0.213333rem;
    font-size:32px;
	font-family:"微软雅黑";
}
a{
	text-decoration:none;
}

::-webkit-scrollbar {    width: 0px;
}
::-webkit-scrollbar {
display: none;/*隐藏滚轮*/
}
.iconfont {
  font-family:"football" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caidan:before { content: "\f000d"; }

.icon-erweima:before { content: "\f0050"; }

.icon-tuichu:before { content: "\e796"; }

.icon-my:before { content: "\e607"; }

.icon-fangdajing:before { content: "\e653"; }

.icon-shouye:before { content: "\e600"; }

.icon-camera:before { content: "\e501"; }