.header{
    position:fixed;width:100%;height:1.2rem;background:#FFA3B1;z-index:9999;
    .header-container{
        display:flex;width:100%;padding: 0.066667rem 0;justify-content:space-around;
        a{
            display: inline-block;text-align: center;color:#ccc;
            i{
                display: inline-block;font-size:0.586667rem;
            }
        }
        .message{
            color:#fff;
        }
        div{
            background: #fff;width:7.2rem;height:0.56rem;border-radius:0.4rem;margin-top:0.133333rem;
            padding:0.133333rem;
            .search{
               display: inline-block;text-align:left;width:6.2rem;padding-left:0.266667rem;
            }
            .saoyisao{
                display: inline-block;
            }
            i{
                font-size:0.48rem;
            }
        }
        .classfy{
            color:#fff;
        }
        p{
            font-size:0.266667rem;
        }
    }
}
